@font-face {
   font-family:  'Khand', sans-serif;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

html, body {
  width: auto;
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  padding-bottom: 20;
  justify-content: center;
  align-items: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.canvas{
  width: 90%;  /*overide canvas width - increase to full page */
  height: auto;  
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  resize: both;
  position: relative;
}

p{
   margin:0;
   margin-left:9px;
   margin-right:30px;
   margin-top: 7px;
   padding: 0;
   border:0;
   
}

h1,h2,h3,h4,h5,h6{
  font-weight: 70;
}

h1{
    justify-content: left;
    text-align: left;
    list-style-type: none;
    font-family: 'Khand', sans-serif;
    font-size:58px;
    font-weight: 70;
}
h2{
   justify-content: left;
    text-align: left;
    list-style-type: none;
    font-family: 'Khand', sans-serif;
    font-size:34px;
    font-weight: 70;
}

#header{
  position: fixed; /*sticky header*/
  top: 0px;
  left: 436;
  /*left: 366px;*/
  font-family: 'Khand', sans-serif;
  color: rgb(102,102,102);
  font-size: 58px;
  font-weight: 70;
  line-height:50px;
  z-index: 200;
}

#header2{
  position: absolute;
  top: 70;
  /*left: 370;*/
  left: 436;
  font-family: 'Khand', sans-serif;
  font-style: normal;
  color: rgb(102,102,102);
  line-height: 27px;
  font-size: 28px;
  font-weight: 180;
}

#header3{
  position: absolute;
  top: 120;
  /*left: 370;*/
  left: 436;
  font-family: 'Khand', sans-serif;
  font-style: normal;
  color: rgb(102,102,102);
  line-height: 27px;
  font-size: 19px;
  font-weight: 180;
}

#header4{
  position: absolute;
  /*top: 120;*/
  left: 1060;
  font-family: 'Khand', sans-serif;
  font-style: normal;
  color: rgb(102,102,102);
  line-height: 27px;
  font-size: 19px;
  font-weight: 180;
}

.spatial1-header{
  position: absolute;
  top: 175;
  font-family: 'Khand', sans-serif;
  color: rgb(102,102,102);
  line-height: 30px;
  font-size: 22px;
  font-weight: 70;
}

.spatial2-header{
  position: absolute;
  top: 915;
  font-family: 'Khand', sans-serif;
  color: rgb(102,102,102);
  line-height: 30px;
  font-size: 22px;
  font-weight: 70;
}

.spatial3-header{
  position: absolute;
  top: 1530;
  bottom: 30;
  font-family: 'Khand', sans-serif;
  color: rgb(102,102,102);
  line-height: 30px;
  font-size: 22px;
  font-weight: 70;
}

#canvas-spatial1{
   margin: 0 auto;
   width: 1050;
}

#canvas-spatial2{
   margin: 0 auto;
   width: 1050;
}

#canvas-spatial3{
   margin: 0 auto;
   width: 1050;
}

.bars{
    font-size: 16px;
    
}

.images{
  position: absolute;
}

#labels{
  position: absolute;
  font-family: 'Khand', sans-serif;
  color: #444444;
  font-size:15px;
}

#description{
  position: absolute;
  top: 192;
  left: 55;
  font-family: 'Khand', sans-serif;
  color: rgb(102,102,102);
  font-size:14px;
}

#footer{
  position: absolute;
  top: 2205;
  left: 200;
  font-family: 'Khand', sans-serif;
  color: #777777;
  font-size: 26px;
}


.hidden {
  display: none;
}



@media screen and (max-width:720px){
  #page-wrap{
    width: 70%;
  }
}

@media print, screen and (max-width: 480px) {
  #page-wrap {
    width: 40%; 
  }
}




