 @font-face {
   font-family: "Helvetica Neue";
  } 
html, body {
  width:auto;
  height: 100%;
  /*color: transparent;*/
  color: "#5e5e5e";
}

body{
  margin: 20px;
  margin-left:20px;
  margin-top:15px;
  padding: 20px;
/*  display: flex;*/
  font-family: "Helvetica Neue";
  font-kerning:normal;
  font-size: 20px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

h1,h2,h3,h4,h5,h6{
  /*position: absolute;*/
  display: inline-block;
  font-size: 20px;
  
}

img{
  /*important*/
  background-size: cover;
  transform: scale(.4);
  transform-origin: top left;
  /*vertical-align:left; */ /*  changes look a lot */
  vertical-align: top;
  position:relative;
  z-index: -1;
}

img#unc{
  vertical-align: top;
  /*vertical-align: left;*/ /*  changes look a lot */
  position:relative;
}

img:active {
  background: yellow;   
}

/*p {
  /*transform: scale(.65);*/
 /* position: absolute;
  top: -40px;
  left: 5px;
  vertical-align: text-top;
  font-size: 40px;
  max-width: 320px;
  z-index: 10;
}*/

p {
  /*position:absolute;*/
  float: left;
  top: 100px;
  left: 5px;
  vertical-align: text-top;
  font-size: 20px;
  max-width: 300px;
  z-index: 10;
}


.designed-image{ 
  transition:1s;
}



/*div:nth-child(4n-7){
  transform: translateY(20px);
 
}
div:nth-child(5n-2){
  transform: translateY(15px);
 
}
div:nth-child(5n-4){
  transform: translateX(20px);
  
}
div:nth-child(2n-5){
  transform: translateX(7px);
  
}*/

div{
  /*important*/
  display: inline-block;
  /*note removed this to try layout;*/
  /*transform: scale(.65);*/

  /*transform-origin: top left;*/
  resize: both;
  max-width: 300px;
  max-height: 280px; 
  /*position: relative;*/
  /*text-align:left;*/
  justify-content: center;
 
 }


body div#met_object{
  display: inline-block;
  background: src("unc");
  position: relative;
  padding: 5px;
  font-size: 20px;
  text-align:top;
  resize: both;

}


.uncertain-title{
  vertical-align: text-top;
  transition:.1s;
  z-index:1;
}


p:hover{
  color: #fc3406;

}

.uncertain-des{
  vertical-align: text-top;
  /*color: transparent;*/
  color: "#5e5e5e";
  transition:.5s;
  z-index: 10;
}

p #des{
  color: white;
}

/*highlight uncertain */
span{
    background-color: #fc3406;
    color: #ffffff;
    /*font-size: 40px;*/
    z-index: 1;
}

@media screen and (max-width:720px){
  .selectorSide{
    width: 100%;
    height:50vh;
  }
}