---
---

@import "{{ site.theme }}";

body {
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
//   font-family: 'Inconsolata', monospace; , monaco, courier, "courier new", fixed-width;
  font-family: 'Inconsolata', monospace, "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  color: #0A0A0A;
  padding: 20px;
  padding-left: 10px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  @media (min-width: 992px) {
    padding: 35px 50px;
  }
}

section{
    width:800px;
    float:right;
    padding-bottom:50px
}

small{
    	font-family: 'Inconsolata', monospace, "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	font-size:13px;	    
}
h1 {
	font-family: 'Inconsolata', monospace, "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 548;
	line-height: 26.4px;
}
h3 {
	font-family: 'Inconsolata', monospace, "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 548;
	line-height: 18px;
}
p {
	font-family: 'Inconsolata', monospace, "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 520;
	line-height: 19px;
}

h2,
h3,
h4,
h5 {
  margin: 8px;
  padding: 0px;
  padding-bottom: 8px;
  color: #0A0A0A;
}
img {
//   max-width: 80%;
  max-width: 100%;
}
a {
  color: #0241FF;
  text-decoration: none;
  line-height: 20px;
  font-weight: 549;
//   border-bottom: 1px solid #042cf4;
  &.image {
    display: block;
    text-align: center;
    border: 0;
    border-radius: 5px;
    margin: 30px 0;
  }
}
mark {
  background: #fffc76;
  padding: 0 5px;
}

ul,
ol {
  margin: 40px 0;
  padding-left: 50px;
  li {
    word-wrap: break-word;
  }
  img {
    margin: 40px 0;
    border-radius: 5px;
  }
}

code,
pre {
  font-family: 'Inconsolata', monospace, "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
code {
  color: #0323C0;
  background: #eee;
  padding: 2px 6px;
  font-size: 13px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  line-height: 1.4;
  white-space: pre;
  overflow-x: auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 1rem;
  code {
    font-size: 100%;
    color: inherit;
    background-color: transparent;
    padding: 0;
  }
}
.wrapper{
    width:1200px;
    margin:0 auto
}
table {
  width: 100%;
  table-layout: fixed;
  margin: 45px 0;
  thead {
    background: #f2f2f2;
  }
  th {
    text-align: left;
    padding: 8px 10px;
    border-bottom: 15px solid #fff;
  }
  td {
    padding: 4px 0;
  }
}

