 @font-face {
   font-family:  'Khand', sans-serif;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

 body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*grid-template-columns: 75% 25%;*/
  grid-template-rows: 5vw 4vw 55vw 40vw 28vw 32vw 25vw 22vw 30vw 10vw 82vw 43vw 20vw 7vw 5vw;
  grid-gap: 0.5em;
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  /*background: #f6f6f6;;*/

}

h1,h2,h3,h4,h5,h6{
  font-weight: 70;
  /*font-family: 'Khand', sans-serif;*/
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
  color: #515151;
  z-index: 250;
}

h1{
    /*text-align: left;*/
    list-style-type: none;
    font-family: 'Khand', sans-serif;
    font-size:50px;
    color: green;
    font-weight: 70;
}

h2{
	font-size: 35px;
}

h3{
	font-size: 21px;
}

h4{
	font-size: 21px;
}

h5{
	font-size: 17px;
}

h6{
	font-size: 15px;
}

a {
  color: red;
  text-decoration: none;
  text-transform: uppercase;
}

header {
  grid-column: 1 / span 5;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:-50px;
}

sideheader{
	grid-column: 1 / span 5;
	display: flex;
}

#canvas-zigzag{
	grid-column: 1 / span 5;
	display: flex;
	background: #ffffff;
	justify-content: center;
}

content0 {
  grid-column: 1 / span 5;
  background: #bdba6320;
  display: flex;
  justify-content: center;
  margin: 10px;
}

 
content1 {
  grid-column: 1 / span 3;
  background: #6d654920;
  display: flex;
  align-items: center;
  justify-content: center;
}

 side1 {
  grid-column: span 2;
  display: flex;
  align-items: left;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  margin: 10px;
  padding-top: 50px;
}

content2 {
  grid-column: 1 / span 3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}


 side2 {
  grid-column: span 2;
  display: flex;
  background: #6d654920;
  align-items: left;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  margin: 10px;
  padding-top: 50px;
}


content3#canvas-met{
  grid-column: 1 / span 3;
  /*background: #d8e7ac;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

content4 {
  grid-column: 1 / span 3;
  /*background: #eaeaea;*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;

  grid-column: 1 / span 3;
  /*background: #eaeaea;*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}


 side4 {
  grid-column: span 2;
  background: #6d654920;
  display: flex;
  align-items: left;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  margin: 10px;
  padding-top: 50px;
  margin-top: 45px;
}

content5 {
  grid-column: 1 / span 5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

 /*side5 {
  grid-column: span 2;
  /*background: #bdba6380;*/
  /*display: flex;
  align-items: left;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  margin: 10px;
  padding-top: 50px;
}*/


content6#canvas-zig {
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

 /*side6 {
  grid-column: span 2;
  /*background: #bdba6380;*/
 /* display: flex;
  align-items: left;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  margin: 10px;
  p*//*adding-top: 50px;
}*/

content7 {
  grid-column: 1 / span 3;
  /*background: #6d654920;*/
  background: #41b3f940;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}


 side7 {
  grid-column: span 2;
  background: #41b3f940;
  display: flex;
  align-items: left;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  margin: 8px;
  padding-top: 8px;
}


content8{
  grid-column: 1 / span 3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

 side8 {
  grid-column: span 2;
  background: #6d654920;
  display: flex;
  align-items: left;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  margin: 10px;
  margin-top: 30px;
  padding-top: 50px;
}

content9 {
  grid-column: 1 / span 3;
  position:relative;
  /*background: #6d654920;*/
  display: flex;
  justify-content: center;
  margin: 10px;

}

#container{
	position:relative;
	grid-column: 1 / span 3;
}

#canvas-qual{
	position: absolute; 
   max-width:700px;
}

h4#overqual { 
	z-index:100;
	position: absolute; 
   top: 380px; 
   text-align: left;
   grid-column: 1 / span 3;
}


 side9 {
  grid-column: span 2;
  display: flex;
  align-items: left;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  margin: 10px;
  padding-top: 70px;
}

content10 {
  grid-column: 1 / span 3;
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

 side10 {
  grid-column: span 2;
  background: #41b3f940;
  display: flex;
  align-items: left;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  margin: 10px;
  margin-top:30px;
  padding-top: 30px;
}

content11 {
  grid-column: 1 / span 5;
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

footer {
  grid-column: 1 / span 5;
   background: #6d654920;
  display: flex;
  align-items: center;
  justify-content: center;
  /*margin: 10px;*/
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  
  content0,content1,content2,content3,content4,content5,content6,content7,content8,content9,content10,content11,
  side0,side1,side2,side3,side4,side5,side6,side7,side8,side9,side10 {
    grid-column: 1 / span 5;
  }
  
}

