 @font-face {
   font-family:  'Khand', sans-serif;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

 body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*grid-template-columns: 75% 25%;*/
  grid-template-rows: 5vw 4vw 55vw 40vw 22vw 30vw 20vw 5vw 85vw 30vw 10vw;
  grid-gap: 0.5em;
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  /*background: #f6f6f6;;*/

}

h1,h2,h3,h4,h5,h6{
  font-weight: 70;
  /*font-family: 'Khand', sans-serif;*/
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
  color: #515151;
  z-index: 250;
}

h1{
    /*text-align: left;*/
    list-style-type: none;
    font-family: 'Khand', sans-serif;
    font-size:50px;
    color: green;
    font-weight: 70;
}

h2{
	font-size: 35px;
}

h3{
	font-size: 21px;
}

h4{
	font-size: 19px;
}

h5{
	font-size: 17px;
}

h6{
	font-size: 15px;
}

header {
  grid-column: 1 / span 5;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:-30px;
}

sideheader{
	grid-column: 1 / span 5;
	display: flex;
}

#canvas-zigzag{
	grid-column: 1 / span 5;
	display: flex;
	background: #ffffff;
	justify-content: center;
}

content0 {
  grid-column: 1 / span 5;
  background: #d8e7ac;
  display: flex;
  justify-content: center;
  margin: 10px;
}

 
content1 {
  grid-column: 1 / span 3;
  background: #d8e7ac;
  display: flex;
  align-items: center;
  justify-content: center;
}

 side1 {
  grid-column: span 2;
  display: flex;
  align-items: left;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  margin: 10px;
  padding-top: 100px;
}

content2 {
  grid-column: 1 / span 3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}


 side2 {
  grid-column: span 2;
  display: flex;
  background: #d8e7ac;
  align-items: left;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  margin: 10px;
  padding-top: 50px;
}


content3#canvas-met{
  grid-column: 1 / span 3;
  /*background: #d8e7ac;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

content4 {
  grid-column: 1 / span 3;
  /*background: #eaeaea;*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;

  grid-column: 1 / span 3;
  /*background: #eaeaea;*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}


 side4 {
  grid-column: span 2;
  background: #d8e7ac;
  display: flex;
  align-items: left;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  margin: 10px;
  padding-top: 50px;
  margin-top: 30px;
}

content5 {
  grid-column: 1 / span 3;
  /*background: #eaeaea;*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

/*
 side5 {
  grid-column: span 2;
  background: #d8e7ac;
  display: flex;
  align-items: left;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  margin: 10px;
  padding-top: 50px;
}*/

content6 {
  grid-column: 1 / span 3;
  /*background: #eaeaea;*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}


 side6 {
  grid-column: span 2;
  background: #d8e7ac;
  display: flex;
  align-items: left;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  margin: 10px;
  padding-top: 50px;
}

content7 {
  grid-column: 1 / span 3;
  /*background: #eaeaea;*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}


 side7 {
  grid-column: span 2;
  background: #d8e7ac;
  display: flex;
  align-items: left;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  margin: 10px;
  padding-top: 50px;
}

footer {
  grid-column: 1 / span 5;
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

@media (max-width: 700px) {
  
  content0,content1,content2,content3, content4
  side0,side1,side2,side3,side4 {
    grid-column: 1 / span 5;
  }
  
}



/*header{
  height: 10vw;
}*/

footer {
  height: 5vw;
}