 @font-face {
   font-family:  'Khand', sans-serif;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

 body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 4vw 1vw 57vw 28vw 22vw 35vw 17vw 17vw 24vw 8vw 70vw 42vw 18vw 2vw 5vw;
  grid-gap: 0.5em;
  margin: 0 auto;
  max-width: 56em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 70;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
  color: #515151;
  z-index: 250;
}

h1{
    list-style-type: none;
    font-family: 'Khand', sans-serif;
    font-size:50px;
    color: #e4002b;
    font-weight: lighter;
}

h2{
	font-size: 35px;
}

h3{
	font-size: 17px;
}

h4{
	font-size: 17px;
}

h5{
	font-size: 16px;
}

h6{
	font-size: 15px;
}

a {
  color: red;
  text-decoration: none;
  text-transform: uppercase;
}


content13 {
  grid-column: 1 / span 2;
  display: flex;
  align-items: top;
  justify-content: left;
  padding: 12px;
}

 side13 {
  grid-column: span 3;
  display: flex;
  align-items: top;
  justify-content: left; 
  padding: 12px;  
}

content12 {
  grid-column: 1 / span 2;
  display: flex;
  align-items: top;
  justify-content: left;
  padding: 12px;
}

 side12 {
  grid-column: span 3;
  display: flex;
  align-items: top;
  justify-content: left;
  padding: 12px;  
}

#canvas-zigzag{
	grid-column: 1 / span 5;
	display: flex;
	background: #ffffff;
	align-items: center;
  justify-content: center;
}

content0 {
  grid-column: 1 / span 5;
  background: #bdba6320;
  display: flex;
  align-items: top;
  justify-content: center;
  margin: 10px;
  padding: 12px;
}

 
content1 {
  grid-column: 1 / span 3;
  background: #6d654910;
  display: flex;
  align-items: top;
  justify-content: left;
  margin: 10px;
  padding: 12px;
}

 side1 {
  grid-column: span 2;
  display: flex;
  align-items: top;
  justify-content: center;  
}

content2 {
  grid-column: 1 / span 3;
  display: flex;
  align-items: top;
  justify-content: left;
  margin: 10px;
  padding: 12px;
  margin-top:12px;
}


 side2 {
  grid-column: span 2;
  display: flex;
  background: #6d654910;
  padding: 12px;
  vertical-align: middle;
  align-items: top;
  text-align: center;
 
}


content3#canvas-met{
  grid-column: 1 / span 3;
  display: flex;
  align-items: top;
  justify-content: center;
  margin: 10px;
  padding: 12px;
}

content4 {
  grid-column: 1 / span 3;
  display: flex;
   align-items: top;
  justify-content: left;
  margin: 10px;
  padding: 12px;
  margin-top:12px;
}


 side4 {
  grid-column: span 2;
  background: #6d654910;
  display: flex;
  padding: 12px;
   align-items: top;
  justify-content: center;
}

content5 {
  grid-column: 1 / span 5;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 10px;
  padding: 12px;
}


content6#canvas-zig {
  grid-column: 1 / span 3;
  display: flex;
  align-items: top;
  justify-content: center;
}


content7 {
  grid-column: 1 / span 3;
  background: #6d654910;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}


 side7 {
  grid-column: span 2;
  border: 6px solid #41b3f980;
  display: flex;
   align-items: top;
  justify-content: center;
}

content8{
  grid-column: 1 / span 3;
  display: flex;
   align-items: top;
  justify-content: left;
  margin: 10px;
  margin-top: 12px;
  padding: 12px;
}

 side8 {
  grid-column: span 2;
  background: #6d654910;
  display: flex;
  padding: 12px;
  align-items: top;
  justify-content: center;
}

content9 {
  grid-column: 1 / span 3;
  position:relative;
  display: flex;
  margin: 10px;
  padding: 12px;
  align-items: top;
  justify-content: left;
}

#container{
	position:relative;
	grid-column: 1 / span 3;
}

#canvas-qual{
	position: absolute; 
   max-width:670px;
   z-index: 1;
}

h4#overqual { 
	z-index:100;
	position: absolute; 
   top: 392px;
   text-align: left;
   grid-column: 1 / span 3;
}

 side9 {
  grid-column: span 2;
  display: flex;
  border: 6px solid #8aaf3c80;
  padding: 12px;
  align-items: top;
  text-align: center;
  z-index:100;
}

content10 {
  grid-column: 1 / span 3;
  display: flex;
  align-items: top;
  justify-content: left;
  margin: 10px;
  padding: 12px;
}

 side10 {
  grid-column: span 2;
  border: 6px solid #41b3f980;
  display: flex;
  padding: 12px;
  align-items: top;
  text-align: center;
}

content11 {
  grid-column: 1 / span 5;
  display: flex;
  align-items: top;
  justify-content: left;
  margin: 10px;
  padding: 12px;
}

footer {
  grid-column: 1 / span 5;
   background: #6d654910;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  content0,content1,content2,content3,content4,content5,content6,content7,content8,content9,content10,content11,
  side0,side1,side2,side3,side4,side5,side6,side7,side8,side9,side10 {
    grid-column: 1 / span 5;
  }
}

