 
html, body {
  width: auto;
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  padding-bottom: 20;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/* div{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  /*display: block;*/
  /*resize: both;*/
/*  position: relative;
  justify-content: center;
  align-items: center; */
 /*}*/

  div#types.classificationTypes{
  width: 100%;
  height: 100px 0;
  margin-top: 60px;
  padding: 0;
  background-color: grey;
  /*display: block;*/
/*  position: relative;
  justify-content: center;
  align-items: center; */
 }

canvas{
  width: 100%;  /*overide canvas width - increase to full page */
  height: auto;  
  /*display: block;*/
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  resize: both;
}

p{
   margin:0;
   padding: 0;
   border:0;
}

/*ul {
    display: inline-block;
    justify-content: left;
    list-style-type: none;
}

ul li{
    margin:0;
    padding: 0;
    border:0;
    list-style-type: none;
}*/

h3#h3{
    display: inline-block;
    justify-content: left;
    list-style-type: none;
    font-family: 'Khand', sans-serif;
    color:#777777;
    font-size:16px;
    /*text-transform: lowercase;*/
}

#types{
  color:#5F6C7A;
  text-align: left;
  justify-content: left;
  margin-bottom: 0px;
  border:none;
  list-style-type: none;
  font-family: 'Khand', sans-serif;
  color:#777777;
  font-size:16px;
}
}

.bars{
    font-size: 16px;
    
}

button{
    position: absolute;
    width:280px;
    height:50px;
    overflow:hidden;
    background-color: rgb(42,155,285,.1);
    border:none;
    cursor:pointer;
    border-radius: 10px;
    font-family: 'Khand', sans-serif;
    color:#4c4c4c;
    font-size:16px;
    text-transform: uppercase;
}

.classificationTypes{
    position: absolute;
    width:280px;
    height:50px;
    overflow:hidden;
    background-color: rgb(42,155,285,.1);
    border:none;
    cursor:pointer;
    border-radius: 10px;
    font-family: 'Khand', sans-serif;
    color:#4c4c4c;
    font-size:16px;
    text-transform: uppercase;
}



.container {
  display: grid;
  /*grid-template-columns: 80px 80px 80px;*/
  /*grid-template-rows: 80px;*/
  grid-gap: 5px;
  justify-items: start;
}


.listing {
  list-style: none;
  margin: 0;
  /*display: grid;*/
  /*grid-template-columns: 80px 80px 80px;*/
  grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px 80px;
  justify-items: start; /*essential for text*/
  grid-template-columns: repeat(auto-fit,minmax(80px, 1fr));
  font-family: 'Khand', sans-serif;
  color:#777777;
  font-size:16px;
}

.listing li {
  /*border: 1px solid #ffe066;*/
  border-radius: 1px;
  margin: 0;
  padding: 0px;
  /*display: flex;*/
  flex-direction: column;
}

.listing .body {
  padding: 0px;
  font-family: 'Khand', sans-serif;
  color:#777777;
  font-size:16px;
}


  #c1{
    width: 90%;
    height:auto;
  }

  #c2{
    width: 90%;
    height:auto;
  }

  #c3{
    width: 90%;
    height:auto;
  }
}


div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 60px;          
    height: 28px;         
    padding: 2px;       
    font: 12px;    
    background: grey; 
    border: 0px;    
    border-radius: 1px;     
    pointer-events: none;     
}

.hidden {
  display: none;
}

@media screen and (max-width:720px){
  .selectorSide{
    width: 100%;
    height:50vh;
  }

@media print, screen and (max-width: 480px) {
  .container {
      grid-template-columns: 40px 40px 40px;
      grid-template-rows: auto;
      justify-items: start;
  }

}


