 
html, body {
  width: auto;
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  padding-bottom: 20;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}


 div{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;

  /*display: block;*/
  resize: both;
/*  position: relative;
  justify-content: center;
  align-items: center; */
 }

canvas{
  width: 100%;  /*overide canvas width - increase to full page */
  height: auto;  
  /*display: block;*/
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  resize: both;
}

ul {
    display: inline-block;
    justify-content: left;
    list-style-type: none;
}

h3#h3{
    display: inline-block;
    justify-content: left;
    list-style-type: none;
    font-family: 'Khand', sans-serif;
    color:#777777;
    font-size:10px;
    text-transform: lowercase;
}

.bars{
    font-size: 16px;
    
}

button.classificationTypes{
    width:200px;
    height:50px;
    margin: 20px 80px 10px 10px;
    overflow:hidden;
    border:none;
    cursor:pointer;
    border-radius: 10px;
    font-family: 'Khand', sans-serif;
    color:#777777;
    font-size:10px;
    text-transform: lowercase;
}

@media screen and (max-width:720px){
  .selectorSide{
    width: 100%;
    height:50vh;
  }

  #c1{
    width: 90%;
    height:auto;
  }

  #c2{
    width: 90%;
    height:auto;
  }

  #c3{
    width: 90%;
    height:auto;
  }
}


div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 60px;          
    height: 28px;         
    padding: 2px;       
    font: 12px;    
    background: grey; 
    border: 0px;    
    border-radius: 1px;     
    pointer-events: none;     
}

.hidden {
  display: none;
}

@media print, screen and (max-width: 480px) {
  /*.selectorSide{
    width: 100%;
    height:30vh;
  }*/


}


